.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timerShuffle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#timer {
    font-size: 3em;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #f36900;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

.hidden {
    display: none;
}

#diceGrid {
    margin-top: 1rem;
    padding: 2rem;
    background-color: #ffffff;
    border: 2px solid #f36900;
    border-radius: 2rem;

}

#dice {
    display: flex;
    flex-wrap: wrap ;
    width: 20rem;

}

.letter {
    background-color: #f36900;
    color: #fff;
    height: 4rem;
    width: 4rem;
    margin: .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.infoGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}


#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    overflow: hidden;
}

.closeBtn{
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#wordHolder{
    display: flex;
    gap: 10px;
    font-size: 25px;
}

#currentWord {
    font-size: 20px;
    padding-top: 15px;
}

#scoreTable {
    margin-top: 20px;
}

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    overflow: hidden;
}

.okBtn, .noBtn{
    background-color: #f36900;
    color: #fff;
    font-size: 20px;
    border-radius: 1rem;
    max-width: 130px;
    height: 50px;
    width: 80px;
    margin: auto;
}

#buttonsModal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.scoreSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 0 2px 5px #00000042;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;

}

.scoreTable {
    width: 100%;
}

.scoreTable th {
    background-color: #f36900;
    color: white;
    padding: 10px;
}

.scoreTable td {
    padding: 10px;
    border: 1px solid #f36900;

}
.score {
    width: 90%;
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .game {
        flex-direction: column;
        gap: 25px;
    }
    .scoreTable {
        width: 50%;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    .game {
        flex-direction: row;
        gap: 100px;
        height: 68vh;
        width: 100%;
    }

    .score {
        width: 25%;
    }
}