/* MOBILE FIRST */

* {
    font-family: Roboto, sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #f36900;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainPage {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

#playGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playGame button {
    background-color: #f36900;
    width: 25%;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 1rem;

}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 0 2px 5px #00000042;
    padding: 1rem;
    border-radius: 1rem;
}

.infoContainer {
    justify-content: space-between;
    width: 100%;
    text-align: justify;
}


footer {

    background-color: #f36900;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 1rem;

}

#footer {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}