* {
    font-family: Roboto, sans-serif;
}

button {
    background-color: #f36900;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

footer {
    background-color: #f36900;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

header {
    align-items: center;
    background-color: #f36900;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contactText {
    margin-top: 40px;
}

.Copyright {
    border-top: 1px solid #d5d5d5;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 1236px;
    padding-top: 10px;
    text-align: center;
}

.footerLink {
    color: #ffffff;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.infoSection {
    align-items: center;
    box-shadow: 0 2px 5px #00000042;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
}

.infoContainer {
    justify-content: space-between;
    text-align: justify;
    width: 100%;
}

.ranking {
    width: 100%;
}

.ranking td {
    border: 1px solid #f36900;
    padding: 10px;
}

.ranking th {
    background-color: #f36900;
    color: white;
    padding: 10px;
}

.score {
    width: 90%;
}

.scoreContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.scoreOrder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.scoreSection {
    align-items: center;
    box-shadow: 0 2px 5px #00000042;
    display: flex;
    flex-direction: column;
    width: 90%;
}

#footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}

#mainPage {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 90%;
}

button:hover {
    background-color: #000000;
}

.contactText, .welcomeText, #playGame, #contact {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#contact button:hover {
    background-color: #000000;
}

#playGame button:hover {
    background-color: #000000;
}

#playGame button, #contact button {
    background-color: #f36900;
    border: none;
    color: #ffffff;
    cursor: pointer;
    max-width: 130px;
    padding: 15px;
    transition: background-color 0.3s;
    width: 25%;
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        justify-content: center;
        padding: 20px;
        flex-direction: row;
    }

    .infoContainer{
        margin-right: 50px;  
    }

    .imgContainer{
        margin-top: 15px;
    }

    .ranking {
        max-width: 627px;
    }

    .scoreOrder{
        flex-direction: row;
    }

    .infoSection {
        align-items: normal;
        flex-direction: row;
        max-width: 800px;
    }

    #headerText{
        margin-left: 30px;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }

    .subtitleText{
        margin-right: 30px;
    }

    .madeClass{
        font-size: 23px;
    }

    .infoSection {
        align-items: normal;
        flex-direction: row;
        width: 800px;
    }

    .infoContainer{
       margin-right: 50px;  
    }

    .imgContainer{
        margin-top: 15px;
    }

    .ranking {
        max-width: 627px;
    }

    .scoreOrder{
        flex-direction: row;
    }

    #headerText{
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
}